.box {
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin:5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.boxes-container {
  display: flex;
  flex-wrap: wrap;
}

.course-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

.fees {
  font-weight: bold;
}