.signUp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    height: 100vh;
}

.signUp .active {
    right: 300px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/univ.jpg");
    background-repeat: no-repeat;
    opacity:0.8;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

.signUp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.signup-container {
    padding: 15px;
    width: 500px;
    /* max-width: 55vw; */
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(197, 66, 66, 0.4);
    background-color: rgba(255, 251, 251, 0.8);

}
.signup-container input{
    width: 20vw;
    /* max-width: 45vw; */
}

.title {
    font-size: 56px;
    font-weight:800;
    color: #ff00ff; /* Bright colored text */
    font-family: 'Arial', sans-serif; /* Different font */
    animation: fadeIn 1s ease; /* Animation */
  }
  
  .description {
    font-size: 24px;
    color: #141717; /* Another bright color */
    font-family: 'Verdana', sans-serif; /* Different font */
    animation: slideIn 1s ease; /* Animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }
  