.institute-container {
  z-index:2;
  width:70vw;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
}
.search-bar {
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.institute-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; /* Adjust the gap as needed */
}

.institute-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(47, 39, 188, 0.012);
}
.institute-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.institute-item h2 {
  color: #333;
  margin-bottom: 10px;
}

.institute-item p {
  color: #000000;
  margin: 5px 0;
}

.course-btn {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 50%;
  justify-content: center;
  align-content: center;
}

.course-btn:hover {
  background-color: #2980b9;
}



.add-institute-button {
  position: absolute;
  top: 270px;
  right: 580px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:20%;
}

.add-institute-button:hover {
  background-color: #2980b9;
}

.admin-actions {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.admin-edit-btn{
  width: 30%;
  height: 40px;
  background: #30e542; 
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.admin-delete-btn {
  width: 30%;
  height: 40px;
  background: #e74c3c; 
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.admin-edit-btn:hover,
.admin-delete-btn:hover {
  background: #c0392b; /* Choose your hover color */
}
.edit-institute-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.edit-popup h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color:#727272;
}
.edit-form label {
  margin-bottom: 5px;
  color:#727272
}

.edit-form input {
  color:#727272;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #454444;
  border-radius: 4px;
}

.edit-popup button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-popup button:hover {
  background: #2980b9;
}

.add-institute-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to create a modal effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Ensure the popup is above other content */
}

.add-popup {
  background-color: #fffefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  height:600px;
  color:#727272;
}


.add-form {
  color:#727272;
  display: flex;
  flex-direction: column;
}

.add-form label {
  margin-bottom: 5px;
  color:#727272
}

.add-form input {
  color:#727272;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #454444;
  border-radius: 4px;
}
.add-form h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color:#727272;
}
.add-form button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-form button:hover {
  background-color: #2980b9;
}

.add-form button + button {
  margin-top: 10px;
  background-color: #e74c3c;
}