.profile-creation-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color:white;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
  }