.sidebar-container {
    display: flex;
    flex-direction: column;
  }
  
  .Sidebar {
    background-color: #353334;
    color: #fff;
    width: 100%;
    transition: width 0.5s;
    position: fixed;
    padding-top: 110px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
  }
  
  .Sidebar.open {
    width: 200px;
  }
  
  .top-section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .sidebar-logo {
    font-size: 30px;
  }
  
  .bars {
    display: flex;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .sidebar-link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .sidebar-link:hover {
    background: aliceblue;
    color: rgb(2, 52, 97);
    transition: all 0.5s;
  }
  
  .sidebar-active {
    background: lightskyblue;
    color: #000;
  }
  
  .sidebar-icon,
  .link-text {
    font-size: 20px;
  }
  